In [6]:
import pandas as pd

In [224]:
df = pd.read_csv("crime_and_incarceration_by_state.csv")
df = df[df["year"] == 2016]
df = df.drop(df.columns[[1, 2, 3, 4, 5, 6, 7, 9, 13]], axis = 1)
df = df.dropna()

In [225]:
df = df.melt(id_vars = ["jurisdiction"], 
        var_name = "Crime Type", 
        value_name = "Value")

df = df.groupby(by = ["jurisdiction", "Crime Type"]).sum().reset_index()

In [226]:
df

    jurisdiction           Crime Type    Value
0        Alabama          agg_assault  18869.0
1        Alabama             burglary  34045.0
2        Alabama              larceny  97498.0
3        Alabama  murder_manslaughter    407.0
4        Alabama         rape_revised   1915.0
..           ...                  ...      ...
345      Wyoming              larceny   8889.0
346      Wyoming  murder_manslaughter     20.0
347      Wyoming         rape_revised    206.0
348      Wyoming              robbery     59.0
349      Wyoming        vehicle_theft    800.0

[350 rows x 3 columns]

In [199]:
df.to_csv("division_of_crimes.csv", index = False)

Crime Vs Population Graph

In [218]:
df = pd.read_csv("crime_and_incarceration_by_state.csv")
df = df[df["year"] == 2016]
df = df[["jurisdiction", "state_population", "violent_crime_total"]]
df = df.dropna()

In [208]:
df = df.melt(id_vars = ["jurisdiction"], 
        var_name = "Value Type", 
        value_name = "Value")

     jurisdiction           Value Type       Value
0         Alabama     state_population   4860545.0
1          Alaska     state_population    741522.0
2         Arizona     state_population   6908642.0
3        Arkansas     state_population   2988231.0
4      California     state_population  39296476.0
..            ...                  ...         ...
95       Virginia  violent_crime_total     18495.0
96     Washington  violent_crime_total     22101.0
97  West Virginia  violent_crime_total      6633.0
98      Wisconsin  violent_crime_total     17716.0
99        Wyoming  violent_crime_total      1431.0

[100 rows x 3 columns]

In [ ]:
df.to_csv("crime_vs_population.csv", index = False)

Crime Type Vs StateHeatmap

In [210]:
df = pd.read_csv("crime_and_incarceration_by_state.csv")
df = df.drop(df.columns[[1, 2, 3, 4, 5, 6, 7]], axis = 1)
df = df.dropna()

df

,jurisdiction,murder_manslaughter,rape_legacy,rape_revised,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft
613,Alabama,346.0,1449.0,2055.0,4645.0,13788.0,161835.0,42410.0,108862.0,10563.0
614,Alaska,34.0,657.0,925.0,623.0,3127.0,21211.0,2917.0,16599.0,1695.0
615,Arizona,355.0,2344.0,3174.0,6656.0,17391.0,223294.0,48292.0,158036.0,16966.0
616,Arkansas,158.0,1135.0,1490.0,2261.0,9796.0,106477.0,30369.0,70430.0,5678.0
617,California,1746.0,7464.0,10324.0,53640.0,89029.0,1018907.0,232058.0,621557.0,165292.0
...,...,...,...,...,...,...,...,...,...,...
760,Virginia,383.0,1493.0,2340.0,4441.0,9235.0,156470.0,21340.0,127019.0,8111.0
761,Washington,211.0,2193.0,2705.0,5449.0,12029.0,248369.0,50993.0,170509.0,26867.0
762,West Virginia,70.0,420.0,672.0,760.0,4729.0,37251.0,9170.0,25842.0,2239.0
763,Wisconsin,240.0,1224.0,1780.0,5232.0,10395.0,113924.0,19554.0,83385.0,10985.0
764,Wyoming,16.0,125.0,173.0,59.0,1054.0,11151.0,1762.0,8797.0,592.0

In [ ]:
df = df.melt(id_vars = ["jurisdiction"], 
        var_name = "Crime Type", 
        value_name = "Value")

df