In [2]:
import pandas as pd

Choropleth Map

In [9]:
df = pd.read_csv("crime_and_incarceration_by_state.csv")
df = df[df["year"] == 2016]
df = df.drop(df.columns[[1, 2, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 ]], axis = 1)
df = df.dropna()

In [10]:
df["conviction_rate_10000"] = (df.prisoner_count/df.state_population) * 10000

In [6]:
df

       jurisdiction  prisoner_count  state_population  conviction_rate_1000
766         Alabama           23745         4860545.0             48.852546
767          Alaska            4378          741522.0             59.040730
768         Arizona           42248         6908642.0             61.152394
769        Arkansas           15833         2988231.0             52.984525
770      California          129416        39296476.0             32.933233
771        Colorado           19486         5530105.0             35.236221
772     Connecticut           15040         3587685.0             41.921183
773        Delaware            6334          952698.0             66.484867
774         Florida           98010        20656589.0             47.447330
775         Georgia           53433        10313620.0             51.808191
776          Hawaii            5182         1428683.0             36.271167
777           Idaho            7221         1680026.0             42.981478
778        Illinois           43616        12835726.0             33.980158
779         Indiana           25143         6634007.0             37.900171
780            Iowa            9049         3130869.0             28.902519
781          Kansas            9653         2907731.0             33.197706
782        Kentucky           11867         4436113.0             26.750897
783       Louisiana           15059         4686157.0             32.135074
784           Maine            2356         1330232.0             17.711196
785        Maryland           20236         6024752.0             33.588105
786   Massachusetts            9038         6823721.0             13.244973
787        Michigan           41122         9933445.0             41.397521
788       Minnesota            9509         5525050.0             17.210704
789     Mississippi           13720         2985415.0             45.956760
790        Missouri           32427         6091176.0             53.236025
791         Montana            3199         1038656.0             30.799418
792        Nebraska            5167         1907603.0             27.086349
793          Nevada           13932         2939254.0             47.399782
794   New Hampshire            2599         1335015.0             19.467946
795      New Jersey           19458         8978416.0             21.671974
796      New Mexico            6996         2085432.0             33.547006
797        New York           50611        19836286.0             25.514353
798  North Carolina           35970        10156689.0             35.415085
799    North Dakota            1639          755548.0             21.692864
800            Ohio           52172        11622554.0             44.888585
801        Oklahoma           26367         3921207.0             67.242051
802          Oregon           14579         4085989.0             35.680468
803    Pennsylvania           48287        12787085.0             37.762320
804    Rhode Island            2887         1057566.0             27.298533
805  South Carolina           20376         4959822.0             41.082119
806    South Dakota            3770          861542.0             43.758749
807       Tennessee           21539         6649404.0             32.392377
808           Texas          151276        27904862.0             54.211341
809            Utah            4502         3044321.0             14.788191
810         Vermont            1735          623354.0             27.833302
811        Virginia           29882         8414380.0             35.513015
812      Washington           17228         7280934.0             23.661799
813   West Virginia            5899         1828637.0             32.258999
814       Wisconsin           23163         5772917.0             40.123563
815         Wyoming            2352          584910.0             40.211315

In [11]:
df.to_csv("conviction_rate_per10000.csv", index = False)

Crime Vs Population Graph

In [140]:
def normalise(data):
    data[2] = (data[2]/data[1])*10000

    return data

In [141]:
df = pd.read_csv("crime_and_incarceration_by_state.csv")
df = df[df["year"] == 2016]
df = df[["jurisdiction", "state_population", "violent_crime_total"]]
df = df.dropna()

df

       jurisdiction  state_population  violent_crime_total
766         Alabama         4860545.0              25878.0
767          Alaska          741522.0               5966.0
768         Arizona         6908642.0              32542.0
769        Arkansas         2988231.0              16563.0
770      California        39296476.0             174796.0
771        Colorado         5530105.0              19030.0
772     Connecticut         3587685.0               8169.0
773        Delaware          952698.0               4859.0
774         Florida        20656589.0              88700.0
775         Georgia        10313620.0              40268.0
776          Hawaii         1428683.0               3452.0
777           Idaho         1680026.0               3876.0
778        Illinois        12835726.0              56054.0
779         Indiana         6634007.0              26516.0
780            Iowa         3130869.0               9170.0
781          Kansas         2907731.0              11665.0
782        Kentucky         4436113.0              10452.0
783       Louisiana         4686157.0              26477.0
784           Maine         1330232.0               1649.0
785        Maryland         6024752.0              29019.0
786   Massachusetts         6823721.0              25975.0
787        Michigan         9933445.0              45782.0
788       Minnesota         5525050.0              13365.0
789     Mississippi         2985415.0               8411.0
790        Missouri         6091176.0              31720.0
791         Montana         1038656.0               3886.0
792        Nebraska         1907603.0               5661.0
793          Nevada         2939254.0              19924.0
794   New Hampshire         1335015.0               2668.0
795      New Jersey         8978416.0              21861.0
796      New Mexico         2085432.0              14585.0
797        New York        19836286.0              74315.0
798  North Carolina        10156689.0              37767.0
799    North Dakota          755548.0               1905.0
800            Ohio        11622554.0              35759.0
801        Oklahoma         3921207.0              17855.0
802          Oregon         4085989.0              10983.0
803    Pennsylvania        12787085.0              40389.0
804    Rhode Island         1057566.0               2529.0
805  South Carolina         4959822.0              25137.0
806    South Dakota          861542.0               3636.0
807       Tennessee         6649404.0              42459.0
808           Texas        27904862.0             121064.0
809            Utah         3044321.0               7406.0
810         Vermont          623354.0                851.0
811        Virginia         8414380.0              18495.0
812      Washington         7280934.0              22101.0
813   West Virginia         1828637.0               6633.0
814       Wisconsin         5772917.0              17716.0
815         Wyoming          584910.0               1431.0

In [142]:
df = df.apply(normalise, axis = 1)
df = df.rename(columns={"jurisdiction":"State", "state_population": "Population", "violent_crime_total": "Convictions per 10,000 People"})
df

              State  Population  Convictions per 10,000 People
766         Alabama   4860545.0                      53.240943
767          Alaska    741522.0                      80.456143
768         Arizona   6908642.0                      47.103324
769        Arkansas   2988231.0                      55.427442
770      California  39296476.0                      44.481342
771        Colorado   5530105.0                      34.411643
772     Connecticut   3587685.0                      22.769558
773        Delaware    952698.0                      51.002521
774         Florida  20656589.0                      42.940294
775         Georgia  10313620.0                      39.043517
776          Hawaii   1428683.0                      24.162113
777           Idaho   1680026.0                      23.071072
778        Illinois  12835726.0                      43.670300
779         Indiana   6634007.0                      39.969810
780            Iowa   3130869.0                      29.288993
781          Kansas   2907731.0                      40.117191
782        Kentucky   4436113.0                      23.561167
783       Louisiana   4686157.0                      56.500454
784           Maine   1330232.0                      12.396334
785        Maryland   6024752.0                      48.166298
786   Massachusetts   6823721.0                      38.065742
787        Michigan   9933445.0                      46.088744
788       Minnesota   5525050.0                      24.189826
789     Mississippi   2985415.0                      28.173638
790        Missouri   6091176.0                      52.075330
791         Montana   1038656.0                      37.413735
792        Nebraska   1907603.0                      29.675986
793          Nevada   2939254.0                      67.785908
794   New Hampshire   1335015.0                      19.984794
795      New Jersey   8978416.0                      24.348393
796      New Mexico   2085432.0                      69.937548
797        New York  19836286.0                      37.464170
798  North Carolina  10156689.0                      37.184362
799    North Dakota    755548.0                      25.213487
800            Ohio  11622554.0                      30.766904
801        Oklahoma   3921207.0                      45.534449
802          Oregon   4085989.0                      26.879661
803    Pennsylvania  12787085.0                      31.585776
804    Rhode Island   1057566.0                      23.913401
805  South Carolina   4959822.0                      50.681254
806    South Dakota    861542.0                      42.203398
807       Tennessee   6649404.0                      63.853843
808           Texas  27904862.0                      43.384554
809            Utah   3044321.0                      24.327264
810         Vermont    623354.0                      13.651954
811        Virginia   8414380.0                      21.980229
812      Washington   7280934.0                      30.354622
813   West Virginia   1828637.0                      36.272918
814       Wisconsin   5772917.0                      30.688125
815         Wyoming    584910.0                      24.465302

In [143]:
df.to_csv("conviction_rate.csv", index = False)

Crime Type Vs State Heatmap

In [128]:
def normalise(data):
    data[2] = (data[2]/data[1])*10000
    data[3] = (data[3]/data[1])*10000
    data[4] = (data[4]/data[1])*10000
    data[5] = (data[5]/data[1])*10000

    return data

In [129]:
df = pd.read_csv("crime_and_incarceration_by_state.csv")
df = df[df["year"] == 2016]
df = df.drop(df.columns[[1, 2, 4, 5, 6, 7, 9, 13, 14, 15, 16]], axis = 1)
df = df.dropna()

df

,jurisdiction,prisoner_count,murder_manslaughter,rape_revised,robbery,agg_assault
766,Alabama,23745,407.0,1915.0,4687.0,18869.0
767,Alaska,4378,52.0,1053.0,850.0,4011.0
768,Arizona,42248,389.0,3304.0,7045.0,21804.0
769,Arkansas,15833,217.0,2214.0,2125.0,12007.0
770,California,129416,1930.0,13702.0,54789.0,104375.0
771,Colorado,19486,189.0,3635.0,3525.0,11681.0
772,Connecticut,15040,79.0,791.0,2711.0,4588.0
773,Delaware,6334,58.0,311.0,1359.0,3131.0
774,Florida,98010,1111.0,7598.0,20175.0,59816.0
775,Georgia,53433,682.0,3381.0,12114.0,24091.0
776,Hawaii,5182,35.0,601.0,985.0,1831.0
777,Idaho,7221,49.0,719.0,213.0,2895.0
778,Illinois,43616,1061.0,5003.0,17829.0,32161.0
779,Indiana,25143,431.0,2449.0,7291.0,16345.0
780,Iowa,9049,73.0,1278.0,1150.0,6669.0
781,Kansas,9653,132.0,1618.0,1757.0,8158.0
782,Kentucky,11867,265.0,1748.0,3371.0,5068.0
783,Louisiana,15059,555.0,1819.0,5575.0,18528.0
784,Maine,2356,20.0,413.0,268.0,948.0
785,Maryland,20236,536.0,1827.0,10815.0,15841.0
786,Massachusetts,9038,135.0,2141.0,5365.0,18334.0
787,Michigan,41122,612.0,7268.0,7123.0,30779.0
788,Minnesota,9509,101.0,2349.0,3730.0,7185.0
789,Mississippi,13720,237.0,1282.0,2433.0,4459.0
790,Missouri,32427,538.0,2557.0,6576.0,22049.0
791,Montana,3199,37.0,598.0,268.0,2983.0
792,Nebraska,5167,49.0,1108.0,946.0,3558.0
793,Nevada,13932,228.0,1729.0,6338.0,11629.0
794,New Hampshire,2599,19.0,609.0,431.0,1609.0
795,New Jersey,19458,378.0,1454.0,8940.0,11089.0
796,New Mexico,6996,139.0,1527.0,2737.0,10182.0
797,New York,50611,629.0,6281.0,22310.0,45095.0
798,North Carolina,35970,678.0,2847.0,9336.0,24906.0
799,North Dakota,1639,16.0,356.0,181.0,1352.0
800,Ohio,52172,683.0,5754.0,12574.0,16748.0
801,Oklahoma,26367,247.0,2100.0,3174.0,12334.0
802,Oregon,14579,116.0,1784.0,2307.0,6776.0
803,Pennsylvania,48287,674.0,4459.0,12314.0,22942.0
804,Rhode Island,2887,29.0,445.0,541.0,1514.0
805,South Carolina,20376,358.0,2491.0,4071.0,18217.0
806,South Dakota,3770,28.0,526.0,274.0,2808.0
807,Tennessee,21539,495.0,2803.0,7829.0,31332.0
808,Texas,151276,1478.0,13446.0,33298.0,72842.0
809,Utah,4502,74.0,1560.0,1528.0,4244.0
810,Vermont,1735,14.0,170.0,78.0,589.0
811,Virginia,29882,482.0,2830.0,4826.0,10357.0
812,Washington,17228,195.0,3133.0,5649.0,13124.0
813,West Virginia,5899,85.0,684.0,720.0,5144.0
814,Wisconsin,23163,232.0,2005.0,4707.0,10772.0
815,Wyoming,2352,20.0,206.0,59.0,1146.0

In [130]:
df = df.apply(normalise, axis = 1)
df = df.rename(columns={"jurisdiction":"State", "murder_manslaughter": "Murder Manslaughter", "rape_revised": "Rape",
"robbery": "Robbery", "agg_assault": "Aggravated Assault"})
df

,State,prisoner_count,Murder Manslaughter,Rape,Robbery,Aggravated Assault
766,Alabama,23745,171.404506,806.485576,1973.889240,7946.515056
767,Alaska,4378,118.775697,2405.207857,1941.525811,9161.717679
768,Arizona,42248,92.075365,782.048854,1667.534558,5160.954365
769,Arkansas,15833,137.055517,1398.345228,1342.133519,7583.528074
770,California,129416,149.131483,1058.756259,4233.556902,8065.076961
771,Colorado,19486,96.992713,1865.441856,1808.991071,5994.560197
772,Connecticut,15040,52.526596,525.930851,1802.526596,3050.531915
773,Delaware,6334,91.569308,491.000947,2145.563625,4943.163877
774,Florida,98010,113.355780,775.227018,2058.463422,6103.050709
775,Georgia,53433,127.636479,632.755039,2267.138285,4508.636985
776,Hawaii,5182,67.541490,1159.783867,1900.810498,3533.384794
777,Idaho,7221,67.857637,995.706966,294.972995,4009.140008
778,Illinois,43616,243.259354,1147.056126,4087.720103,7373.670213
779,Indiana,25143,171.419481,974.028557,2899.813069,6500.815336
780,Iowa,9049,80.671897,1412.310753,1270.858658,7369.875124
781,Kansas,9653,136.745053,1676.162851,1820.159536,8451.258676
782,Kentucky,11867,223.308334,1472.992332,2840.650544,4270.666554
783,Louisiana,15059,368.550369,1207.915532,3702.105053,12303.605817
784,Maine,2356,84.889643,1752.971138,1137.521222,4023.769100
785,Maryland,20236,264.874481,902.846412,5344.435659,7828.128089
786,Massachusetts,9038,149.369329,2368.886922,5936.047798,20285.461385
787,Michigan,41122,148.825446,1767.423763,1732.162833,7484.801323
788,Minnesota,9509,106.215165,2470.291303,3922.599642,7555.999579
789,Mississippi,13720,172.740525,934.402332,1773.323615,3250.000000
790,Missouri,32427,165.911123,788.540414,2027.939680,6799.580596
791,Montana,3199,115.661144,1869.334167,837.761801,9324.788997
792,Nebraska,5167,94.832591,2144.377782,1830.849623,6886.007354
793,Nevada,13932,163.652024,1241.027850,4549.239162,8346.971002
794,New Hampshire,2599,73.105040,2343.208927,1658.330127,6190.842632
795,New Jersey,19458,194.264570,747.250488,4594.511255,5698.941309
796,New Mexico,6996,198.684963,2182.675815,3912.235563,14554.030875
797,New York,50611,124.281283,1241.034558,4408.132619,8910.118354
798,North Carolina,35970,188.490409,791.492911,2595.496247,6924.103420
799,North Dakota,1639,97.620500,2172.056132,1104.331910,8248.932276
800,Ohio,52172,130.913133,1102.890439,2410.105037,3210.151039
801,Oklahoma,26367,93.677703,796.450108,1203.777449,4677.816968
802,Oregon,14579,79.566500,1223.677893,1582.413060,4647.781055
803,Pennsylvania,48287,139.582082,923.436950,2550.168782,4751.175265
804,Rhode Island,2887,100.450294,1541.392449,1873.917561,5244.198130
805,South Carolina,20376,175.696898,1222.516686,1997.938751,8940.420102
806,South Dakota,3770,74.270557,1395.225464,726.790451,7448.275862
807,Tennessee,21539,229.815683,1301.360323,3634.801987,14546.636334
808,Texas,151276,97.702213,888.838943,2201.142283,4815.172268
809,Utah,4502,164.371390,3465.126610,3394.047090,9426.921368
810,Vermont,1735,80.691643,979.827089,449.567723,3394.812680
811,Virginia,29882,161.301118,947.058430,1615.019075,3465.966133
812,Washington,17228,113.187834,1818.551196,3278.964476,7617.831437
813,West Virginia,5899,144.092219,1159.518562,1220.545855,8720.122055
814,Wisconsin,23163,100.159738,865.604628,2032.120192,4650.520226
815,Wyoming,2352,85.034014,875.850340,250.850340,4872.448980

In [131]:
df = df.drop(df.columns[[1]], axis = 1)

In [132]:
df = df.melt(id_vars = ["State"], 
        var_name = "Crime Type", 
        value_name = "Value")

In [133]:
df

             State           Crime Type        Value
0          Alabama  Murder Manslaughter   171.404506
1           Alaska  Murder Manslaughter   118.775697
2          Arizona  Murder Manslaughter    92.075365
3         Arkansas  Murder Manslaughter   137.055517
4       California  Murder Manslaughter   149.131483
..             ...                  ...          ...
195       Virginia   Aggravated Assault  3465.966133
196     Washington   Aggravated Assault  7617.831437
197  West Virginia   Aggravated Assault  8720.122055
198      Wisconsin   Aggravated Assault  4650.520226
199        Wyoming   Aggravated Assault  4872.448980

[200 rows x 3 columns]

In [134]:
df.to_csv("division_of_crimes.csv", index = False)

Scatter Plot

In [137]:
df = pd.read_csv("crime_and_incarceration_by_state.csv")
df = df[df["year"] == 2016]
df = df[["jurisdiction", "prisoner_count", "violent_crime_total"]]
df = df.dropna()

In [138]:
df = df.sort_values(by = ['violent_crime_total'], ascending = False)
df = df.head(10)

df = df.rename(columns={"jurisdiction":"State", "prisoner_count": "Prisoners", "violent_crime_total": "Violent Crime Total"})

df

              State  Prisoners  Violent Crime Total
770      California     129416             174796.0
808           Texas     151276             121064.0
774         Florida      98010              88700.0
797        New York      50611              74315.0
778        Illinois      43616              56054.0
787        Michigan      41122              45782.0
807       Tennessee      21539              42459.0
803    Pennsylvania      48287              40389.0
775         Georgia      53433              40268.0
798  North Carolina      35970              37767.0

In [139]:
df.to_csv("crime_and_prisoners.csv", index = False)