In [2]:
import pandas as pd

Choropleth Map

In [9]:
df = pd.read_csv("crime_and_incarceration_by_state.csv")
df = df[df["year"] == 2016]
df = df.drop(df.columns[[1, 2, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 ]], axis = 1)
df = df.dropna()

In [10]:
df["conviction_rate_10000"] = (df.prisoner_count/df.state_population) * 10000

In [6]:
df

       jurisdiction  prisoner_count  state_population  conviction_rate_1000
766         Alabama           23745         4860545.0             48.852546
767          Alaska            4378          741522.0             59.040730
768         Arizona           42248         6908642.0             61.152394
769        Arkansas           15833         2988231.0             52.984525
770      California          129416        39296476.0             32.933233
771        Colorado           19486         5530105.0             35.236221
772     Connecticut           15040         3587685.0             41.921183
773        Delaware            6334          952698.0             66.484867
774         Florida           98010        20656589.0             47.447330
775         Georgia           53433        10313620.0             51.808191
776          Hawaii            5182         1428683.0             36.271167
777           Idaho            7221         1680026.0             42.981478
778        Illinois           43616        12835726.0             33.980158
779         Indiana           25143         6634007.0             37.900171
780            Iowa            9049         3130869.0             28.902519
781          Kansas            9653         2907731.0             33.197706
782        Kentucky           11867         4436113.0             26.750897
783       Louisiana           15059         4686157.0             32.135074
784           Maine            2356         1330232.0             17.711196
785        Maryland           20236         6024752.0             33.588105
786   Massachusetts            9038         6823721.0             13.244973
787        Michigan           41122         9933445.0             41.397521
788       Minnesota            9509         5525050.0             17.210704
789     Mississippi           13720         2985415.0             45.956760
790        Missouri           32427         6091176.0             53.236025
791         Montana            3199         1038656.0             30.799418
792        Nebraska            5167         1907603.0             27.086349
793          Nevada           13932         2939254.0             47.399782
794   New Hampshire            2599         1335015.0             19.467946
795      New Jersey           19458         8978416.0             21.671974
796      New Mexico            6996         2085432.0             33.547006
797        New York           50611        19836286.0             25.514353
798  North Carolina           35970        10156689.0             35.415085
799    North Dakota            1639          755548.0             21.692864
800            Ohio           52172        11622554.0             44.888585
801        Oklahoma           26367         3921207.0             67.242051
802          Oregon           14579         4085989.0             35.680468
803    Pennsylvania           48287        12787085.0             37.762320
804    Rhode Island            2887         1057566.0             27.298533
805  South Carolina           20376         4959822.0             41.082119
806    South Dakota            3770          861542.0             43.758749
807       Tennessee           21539         6649404.0             32.392377
808           Texas          151276        27904862.0             54.211341
809            Utah            4502         3044321.0             14.788191
810         Vermont            1735          623354.0             27.833302
811        Virginia           29882         8414380.0             35.513015
812      Washington           17228         7280934.0             23.661799
813   West Virginia            5899         1828637.0             32.258999
814       Wisconsin           23163         5772917.0             40.123563
815         Wyoming            2352          584910.0             40.211315

In [11]:
df.to_csv("conviction_rate_per10000.csv", index = False)

Division Of Crimes

In [ ]:
def normalise(data):
    data[2] = (data[2]/data[1])*10000
    data[3] = (data[3]/data[1])*10000
    data[4] = (data[4]/data[1])*10000
    data[5] = (data[5]/data[1])*10000

    return data

In [54]:
df = pd.read_csv("crime_and_incarceration_by_state.csv")
df = df[df["year"] == 2016]
df = df.drop(df.columns[[1, 2, 4, 5, 6, 7, 9, 13, 14, 15, 16]], axis = 1)
df = df.dropna()

In [55]:
df

,jurisdiction,prisoner_count,murder_manslaughter,rape_revised,robbery,agg_assault
766,Alabama,23745,407.0,1915.0,4687.0,18869.0
767,Alaska,4378,52.0,1053.0,850.0,4011.0
768,Arizona,42248,389.0,3304.0,7045.0,21804.0
769,Arkansas,15833,217.0,2214.0,2125.0,12007.0
770,California,129416,1930.0,13702.0,54789.0,104375.0
771,Colorado,19486,189.0,3635.0,3525.0,11681.0
772,Connecticut,15040,79.0,791.0,2711.0,4588.0
773,Delaware,6334,58.0,311.0,1359.0,3131.0
774,Florida,98010,1111.0,7598.0,20175.0,59816.0
775,Georgia,53433,682.0,3381.0,12114.0,24091.0
776,Hawaii,5182,35.0,601.0,985.0,1831.0
777,Idaho,7221,49.0,719.0,213.0,2895.0
778,Illinois,43616,1061.0,5003.0,17829.0,32161.0
779,Indiana,25143,431.0,2449.0,7291.0,16345.0
780,Iowa,9049,73.0,1278.0,1150.0,6669.0
781,Kansas,9653,132.0,1618.0,1757.0,8158.0
782,Kentucky,11867,265.0,1748.0,3371.0,5068.0
783,Louisiana,15059,555.0,1819.0,5575.0,18528.0
784,Maine,2356,20.0,413.0,268.0,948.0
785,Maryland,20236,536.0,1827.0,10815.0,15841.0
786,Massachusetts,9038,135.0,2141.0,5365.0,18334.0
787,Michigan,41122,612.0,7268.0,7123.0,30779.0
788,Minnesota,9509,101.0,2349.0,3730.0,7185.0
789,Mississippi,13720,237.0,1282.0,2433.0,4459.0
790,Missouri,32427,538.0,2557.0,6576.0,22049.0
791,Montana,3199,37.0,598.0,268.0,2983.0
792,Nebraska,5167,49.0,1108.0,946.0,3558.0
793,Nevada,13932,228.0,1729.0,6338.0,11629.0
794,New Hampshire,2599,19.0,609.0,431.0,1609.0
795,New Jersey,19458,378.0,1454.0,8940.0,11089.0
796,New Mexico,6996,139.0,1527.0,2737.0,10182.0
797,New York,50611,629.0,6281.0,22310.0,45095.0
798,North Carolina,35970,678.0,2847.0,9336.0,24906.0
799,North Dakota,1639,16.0,356.0,181.0,1352.0
800,Ohio,52172,683.0,5754.0,12574.0,16748.0
801,Oklahoma,26367,247.0,2100.0,3174.0,12334.0
802,Oregon,14579,116.0,1784.0,2307.0,6776.0
803,Pennsylvania,48287,674.0,4459.0,12314.0,22942.0
804,Rhode Island,2887,29.0,445.0,541.0,1514.0
805,South Carolina,20376,358.0,2491.0,4071.0,18217.0
806,South Dakota,3770,28.0,526.0,274.0,2808.0
807,Tennessee,21539,495.0,2803.0,7829.0,31332.0
808,Texas,151276,1478.0,13446.0,33298.0,72842.0
809,Utah,4502,74.0,1560.0,1528.0,4244.0
810,Vermont,1735,14.0,170.0,78.0,589.0
811,Virginia,29882,482.0,2830.0,4826.0,10357.0
812,Washington,17228,195.0,3133.0,5649.0,13124.0
813,West Virginia,5899,85.0,684.0,720.0,5144.0
814,Wisconsin,23163,232.0,2005.0,4707.0,10772.0
815,Wyoming,2352,20.0,206.0,59.0,1146.0

In [230]:
df = df.melt(id_vars = ["jurisdiction"], 
        var_name = "Crime Type", 
        value_name = "Value")

df = df.groupby(by = ["jurisdiction", "Crime Type"]).sum().reset_index()

In [227]:
df.to_csv("division_of_crimes.csv", index = False)

Crime Vs Population Graph

In [228]:
df = pd.read_csv("crime_and_incarceration_by_state.csv")
df = df[df["year"] == 2016]
df = df[["jurisdiction", "state_population", "violent_crime_total"]]
df = df.dropna()

In [208]:
df = df.melt(id_vars = ["jurisdiction"], 
        var_name = "Value Type", 
        value_name = "Value")

     jurisdiction           Value Type       Value
0         Alabama     state_population   4860545.0
1          Alaska     state_population    741522.0
2         Arizona     state_population   6908642.0
3        Arkansas     state_population   2988231.0
4      California     state_population  39296476.0
..            ...                  ...         ...
95       Virginia  violent_crime_total     18495.0
96     Washington  violent_crime_total     22101.0
97  West Virginia  violent_crime_total      6633.0
98      Wisconsin  violent_crime_total     17716.0
99        Wyoming  violent_crime_total      1431.0

[100 rows x 3 columns]

In [ ]:
df.to_csv("crime_vs_population.csv", index = False)

Crime Type Vs State Heatmap

In [70]:
def normalise(data):
    data[2] = (data[2]/data[1])*10000
    data[3] = (data[3]/data[1])*10000
    data[4] = (data[4]/data[1])*10000
    data[5] = (data[5]/data[1])*10000

    return data

In [71]:
df = pd.read_csv("crime_and_incarceration_by_state.csv")
df = df[df["year"] == 2016]
df = df.drop(df.columns[[1, 2, 4, 5, 6, 7, 9, 13, 14, 15, 16]], axis = 1)
df = df.dropna()

df

,jurisdiction,prisoner_count,murder_manslaughter,rape_revised,robbery,agg_assault
766,Alabama,23745,407.0,1915.0,4687.0,18869.0
767,Alaska,4378,52.0,1053.0,850.0,4011.0
768,Arizona,42248,389.0,3304.0,7045.0,21804.0
769,Arkansas,15833,217.0,2214.0,2125.0,12007.0
770,California,129416,1930.0,13702.0,54789.0,104375.0
771,Colorado,19486,189.0,3635.0,3525.0,11681.0
772,Connecticut,15040,79.0,791.0,2711.0,4588.0
773,Delaware,6334,58.0,311.0,1359.0,3131.0
774,Florida,98010,1111.0,7598.0,20175.0,59816.0
775,Georgia,53433,682.0,3381.0,12114.0,24091.0
776,Hawaii,5182,35.0,601.0,985.0,1831.0
777,Idaho,7221,49.0,719.0,213.0,2895.0
778,Illinois,43616,1061.0,5003.0,17829.0,32161.0
779,Indiana,25143,431.0,2449.0,7291.0,16345.0
780,Iowa,9049,73.0,1278.0,1150.0,6669.0
781,Kansas,9653,132.0,1618.0,1757.0,8158.0
782,Kentucky,11867,265.0,1748.0,3371.0,5068.0
783,Louisiana,15059,555.0,1819.0,5575.0,18528.0
784,Maine,2356,20.0,413.0,268.0,948.0
785,Maryland,20236,536.0,1827.0,10815.0,15841.0
786,Massachusetts,9038,135.0,2141.0,5365.0,18334.0
787,Michigan,41122,612.0,7268.0,7123.0,30779.0
788,Minnesota,9509,101.0,2349.0,3730.0,7185.0
789,Mississippi,13720,237.0,1282.0,2433.0,4459.0
790,Missouri,32427,538.0,2557.0,6576.0,22049.0
791,Montana,3199,37.0,598.0,268.0,2983.0
792,Nebraska,5167,49.0,1108.0,946.0,3558.0
793,Nevada,13932,228.0,1729.0,6338.0,11629.0
794,New Hampshire,2599,19.0,609.0,431.0,1609.0
795,New Jersey,19458,378.0,1454.0,8940.0,11089.0
796,New Mexico,6996,139.0,1527.0,2737.0,10182.0
797,New York,50611,629.0,6281.0,22310.0,45095.0
798,North Carolina,35970,678.0,2847.0,9336.0,24906.0
799,North Dakota,1639,16.0,356.0,181.0,1352.0
800,Ohio,52172,683.0,5754.0,12574.0,16748.0
801,Oklahoma,26367,247.0,2100.0,3174.0,12334.0
802,Oregon,14579,116.0,1784.0,2307.0,6776.0
803,Pennsylvania,48287,674.0,4459.0,12314.0,22942.0
804,Rhode Island,2887,29.0,445.0,541.0,1514.0
805,South Carolina,20376,358.0,2491.0,4071.0,18217.0
806,South Dakota,3770,28.0,526.0,274.0,2808.0
807,Tennessee,21539,495.0,2803.0,7829.0,31332.0
808,Texas,151276,1478.0,13446.0,33298.0,72842.0
809,Utah,4502,74.0,1560.0,1528.0,4244.0
810,Vermont,1735,14.0,170.0,78.0,589.0
811,Virginia,29882,482.0,2830.0,4826.0,10357.0
812,Washington,17228,195.0,3133.0,5649.0,13124.0
813,West Virginia,5899,85.0,684.0,720.0,5144.0
814,Wisconsin,23163,232.0,2005.0,4707.0,10772.0
815,Wyoming,2352,20.0,206.0,59.0,1146.0

In [72]:
df = df.apply(normalise, axis = 1)

In [73]:
df = df.drop(df.columns[[1]], axis = 1)

In [74]:
df = df.melt(id_vars = ["jurisdiction"], 
        var_name = "Crime Type", 
        value_name = "Value")

In [75]:
df

      jurisdiction           Crime Type        Value
0          Alabama  murder_manslaughter   171.404506
1           Alaska  murder_manslaughter   118.775697
2          Arizona  murder_manslaughter    92.075365
3         Arkansas  murder_manslaughter   137.055517
4       California  murder_manslaughter   149.131483
..             ...                  ...          ...
195       Virginia          agg_assault  3465.966133
196     Washington          agg_assault  7617.831437
197  West Virginia          agg_assault  8720.122055
198      Wisconsin          agg_assault  4650.520226
199        Wyoming          agg_assault  4872.448980

[200 rows x 3 columns]

In [63]:
df.to_csv("division_of_crimes.csv", index = False)

Scatter Plot

In [231]:
df = pd.read_csv("crime_and_incarceration_by_state.csv")
df = df[df["year"] == 2016]
df = df[["jurisdiction", "prisoner_count", "violent_crime_total"]]
df = df.dropna()

In [ ]:
df.to_csv("crime_and_prisoners.csv", index = False)